{% extends 'system/includes/base.html' %}

{% load static %}

{% block content %}

<!--Start: Contents (next to sidebar)-->
    <div class="contents">

        <!--Start: Main Page Contents -->
        <div class="home-content">

            <!--Start: Individual Page Title-->
            <h1 class="title">Quantity Alert Report</h1>
            <ul class="breadcrumbs">
                <li> <a href="#">Quantity Alert Report</a> </li>
                <li class="divider"> | </li>
                <li> <a href="#" class="active"></a> Stock Management </li>
            </ul>
            <hr>
            <!--End: Individual Page Title-->

            <!-- Start: Table Options - Table5-->
            {% comment %} <div class="period">
                <div class="choose-period">Choose Period</div>
            </div> {% endcomment %}
            <!-- End: Table Options - Table5-->

            <!-- Start: Table Options - Table5 Quantity Alert-->
            {% comment %} <div class="table-options-t5-qntalert">
                <div class="buttons-t5-qntalert">
                    <div>
                        <label for="warehouse">Warehouse</label><br>
                            <select name="Choose Warehouse" id="" required>
                                <option value="lorem" disabled selected hidden>Choose Warehouse</option>
                                <option value="lorem">Lorem</option>
                                <option value="lorem">Lorem</option>
                                <option value="lorem">Lorem</option>
                            </select> 
                        </div>
                </div>
            </div> {% endcomment %}
            <!-- End: Table Options - Table5 Quantity Alert-->

            <!-- Start: Table Options - Table1-->
        
        {% comment %} {% if product.total_quantity <= product.stock_alert %} {% endcomment %}
        {% if page_items|length > 0 %}
            <div class="table-options">
                <div class="header-search">
                    <form class="search-bar" method="POST">
                    {% csrf_token %}
                        <input type="search" name="searched" placeholder="Search products by name">
                        <button type="submit"><ion-icon name="search-outline"></ion-icon></button>
                    </form>
                </div>
                <div class="buttons">
                    {% comment %} <button class="pdf"> <a href="#"> </a> <i class="fa-solid fa-file-pdf"></i> PDF </button> {% endcomment %}
                    <a href="{% url 'stock_alert_list_csv' %}"> <button class="exc"> <i class="fa-solid fa-table"></i> Excel </button>  </a>
                </div>
            </div>
            <!-- End: Table Options - Table1-->

            <!--Start: Table - Table5-->
            <div class="table-5 report-alert">
                <table>
                    <thead>
                        <th>Code</th>
                        <th>Product</th>
                        {% comment %} <th>Warehouse</th> {% endcomment %}
                        <th>Quantity</th>
                        <th>Stock Alert Quantity</th>
                    </thead>

                    {% for product in page_items %}
                        {% if product.total_quantity <= product.stock_alert %}
                            <tbody>
                                <tr>
                                    <td data-label="Code">{{ product.code }}</td>
                                    <td data-label="Product">{{ product.name }}</td>
                                    <td data-label="Quantity">{{ product.total_quantity }}</td>
                                    <td data-label="Stock Alert Quantity" class="alert"><span class="qnt-alert"> {{ product.stock_alert }} </span></td>                      
                                </tr>
                            </tbody>
                        {% endif %}
                    {% endfor %} 

                </table>
            </div>
            <!--End: Table - Table5-->

        {% else %}
            <div class="create-first">
                <div class="create-first-txt-btn">
                    <div class="text">
                        <h3>There are no stock alerts for any products currently</h3>
                    </div>
                </div>
                <div class="create-first-img"> 
                    <img class="create-first-entry" src="{% static 'system/images/no_data.png' %}" alt="Create first entry">
                </div>
            </div> 
        {% endif %}

            <!--Start: Selection of Row Numbers in Table - Table1-->
            <div class="sel-no-rows">
                {% if page_items.has_previous %}
                    <div class="row-title"> <p> <a href="?page=1"> &laquo First </a> </p> </div>
                    <div class="row-title"> <p> <a href="?page={{ page_items.previous_page_number }}"> Previous </a> </p> </div>
                {% endif %}

                <div class="current"> <p> Page {{ page_items.number }} of {{ page_items.paginator.num_pages }} </p> </div>

                {% if page_items.has_next %}
                    <div class="row-title"> <p> <a href="?page={{ page_items.next_page_number }}"> Next </a> </p> </div>
                    <div class="row-title"> <p> <a href="?page={{ page_items.paginator.num_pages }}"> Last &raquo </a> </p> </div>
                {% endif %} 
            </div>
            <br>
            <br>
            <br>
            <br>
            <!--End: Selection of Row Numbers in Table - Table1-->

        </div>
        <!--End: Main Page Contents -->

    </div>
    <!--End: Contents (next to sidebar)-->


{% endblock content %}