{% extends 'front_web/base.html' %} {%load static%} {% block content %}


    <!--Start: Hero Section-->
    <div id="hero-secondary">
        <div class="hero-heading">
            <h2>Membership</h2>
            <h5>
                <ion-icon name="home"></ion-icon> / Membership
            </h5>
        </div>
        <div class="color-overlay"></div>
    </div>
    <!--End: Hero Section-->

    <!--Start: First Section-->
    <section class="Main-section-1 section-p1">
        <div class="ourPlan">
            <h3>OUR PLAN</h3>
            <h4>CHOOSE THE BEST</h4>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                in some <br>form, by injected humour.</p>
        </div>
        <div class="main-section-wrap">
            <div class="mainPrvi">
                <div class="prvi-gore">
                    <h4>Basic</h4>
                    <p>In this package color sit amet occaecat cupidatat non proident </p>
                    <div class="price">
                        <h5>$49 / </h5>
                        <p>month</p>
                    </div>
                    <button class="secondary-button">Get It Now</button>
                </div>
                <div class="prvi-dole">
                    <ul>
                        <li><i class="fa-solid fa fa-check"></i>25 Analytics Campaign <span><i
                                    class="fa-solid fa-info"></i></span></li>
                        <li><i class="fa-solid fa-xmark"></i> Branded Reports <span><i
                                    class="fa-solid fa-info"></i></span></li>
                        <li><i class="fa-solid fa fa-check"></i>1,900 Keywords <span><i
                                    class="fa-solid fa-info"></i></span></li>
                        <li><i class="fa-solid fa-xmark"></i> 4 Social Account <span><i
                                    class="fa-solid fa-info"></i></span></li>
                        <li><i class="fa-solid fa-xmark"></i> Phone & Email Support <span><i
                                    class="fa-solid fa-info"></i></span></li>
                    </ul>
                </div>
            </div>
            <div class="mainDrugi">
                <div class="drugi-gore">
                    <h4>Standard</h4>
                    <p>Suitable for medium sit amet officia deserunt mollit anim id est laborum</p>
                    <div class="price">
                        <h5>$129 /</h5>
                        <p>month</p>
                    </div>
                    <a href="#"> <button class="secondary-button">Get It Now</button> </a>
                </div>
                <div class="drugi-dole">
                    <ul>
                        <li><i class="fa-solid fa fa-check"></i> 25 Analytics Campaign<span><i
                                    class="fa-solid fa-info"></i></span></li>
                        <li><i class="fa-solid fa fa-check"></i> Branded Reports <span><i
                                    class="fa-solid fa-info"></i></span></li>
                        <li><i class="fa-solid fa fa-check"></i> 1,900 Keywords <span><i
                                    class="fa-solid fa-info"></i></span></li>
                        <li><i class="fa-solid fa fa-check"></i> 4 Social Account <span><i
                                    class="fa-solid fa-info"></i></span></li>
                        <li><i class="fa-solid fa fa-check"></i> Phone & Email Support <span><i
                                    class="fa-solid fa-info"></i></span></li>
                    </ul>
                </div>
            </div>
            <div class="mainTreci">
                <div class="treci-gore">
                    <h4>Premium</h4>
                    <p>Best for unlimited tempor incididunt ut labore et dolore magna aliqua</p>
                    <div class="price">
                        <h5>$599 /</h5>
                        <p>month</p>
                    </div>
                    <button class="secondary-button ">Get It Now</button>
                </div>
                <div class="treci-dole">
                    <ul>
                        <li><i class="fa-solid fa fa-check"></i> 25 Analytics Campaign <span><i
                                    class="fa-solid fa-info"></i></span></li>
                        <li><i class="fa-solid fa-xmark"></i> Branded Reports <span><i
                                    class="fa-solid fa-info"></i></span></li>
                        <li><i class="fa-solid fa fa-check"></i> 1,900 Keywords <span><i
                                    class="fa-solid fa-info"></i></span></li>
                        <li><i class="fa-solid fa-xmark"></i> 4 Social Account <span><i
                                    class="fa-solid fa-info"></i></span></li>
                        <li><i class="fa-solid fa fa-check"></i> Phone & Email Support <span><i
                                    class="fa-solid fa-info"></i></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--End: First Section-->


    <!--Start: Second Section-->
    <section class="Main-Section-2 section-p1">
        <div class="container">
            <div class="title">
                <h4>WHY SELECT US</h4>
                <p class="Paragraph">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in
                    a piece of classical <br> Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
            <div class="accordion">
                <ul class=accordion_parent_list>
                    <li class="accordion_parent">
                        <label for="acr-btn" class="first-label">What is the meaning of Lorem Ipsum?</label>
                        <input type="checkbox" id="acr-btn">
                        <ul class="accordion_children">
                            <li class="sub_accordion_list">Literally it does not mean anything. It is a sequence of
                                words without a sense of Latin derivation that make up a text also known as filler text,
                                fictitious, blind or placeholder</li>
                        </ul>
                    </li>
                    <li class="accordion_parent">
                        <label for="acr-btn-2" class="first-label">Why is Lorem Ipsum Dolor used?</label>
                        <input type="checkbox" id="acr-btn-2">
                        <ul class="accordion_children">
                            <li class="sub_accordion_list">The Lorem Ipsum text is used to fill spaces designated to
                                host texts that have not yet been published. They use programmers, graphic designers,
                                typographers to get a real impression of the digital / advertising / editorial product
                                they are working on.</li>
                        </ul>
                    </li>
                    <li class="accordion_parent">
                        <label for="acr-btn-3" class="first-label">What is most used version?</label>
                        <input type="checkbox" id="acr-btn-3">
                        <ul class="accordion_children">
                            <li class="sub_accordion_list">Lorem ipsum dolor sit amet, consectetur adipisci elit, sed
                                eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
                                consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu
                                fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui
                                officia deserunt mollit anim id est laborum.</li>
                        </ul>
                    </li>
                    <li class="accordion_parent">
                        <label for="acr-btn-4" class="first-label">What are the origins of Lorem Ipsum Dolor Sit</label>
                        <input type="checkbox" id="acr-btn-4">
                        <ul class="accordion_children">
                            <li class="sub_accordion_list">Its origins date back to 45 BC. In fact, his words were
                                randomly extracted from the De finibus bonorum et malorum , a classic of Latin
                                literature written by Cicero over 2000 years ago.</li>
                        </ul>
                    </li>
                    <li class="accordion_parent">
                        <label for="acr-btn-5" class="first-label">What is the orginal text of Lorem Ipsum Dolor Sit
                            Amet?</label>
                        <input type="checkbox" id="acr-btn-5">
                        <ul class="accordion_children">
                            <li class="sub_accordion_list">The original Latin text
                                Dal De finibus bonorum et malorum sections 1.10.32 and 1.10.33 - Marco Tullio Cicerone
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi
                                architecto beatae vitae dicta sunt, explicabo.</li>
                        </ul>
                    </li>
                    <li class="accordion_parent">
                        <label for="acr-btn-6" class="first-label">Can I reserve a magazine via Phone or E-mail?</label>
                        <input type="checkbox" id="acr-btn-6">
                        <ul class="accordion_children">
                            <li class="sub_accordion_list">No, this isn’t possible. We want all of our magazines to be
                                available for all customers. So you have to order the magazine.</li>
                        </ul>
                    </li>
                    <li class="accordion_parent">
                        <label for="acr-btn-7" class="first-label">Where on your website can I open a customer
                            account?</label>
                        <input type="checkbox" id="acr-btn-7">
                        <ul class="accordion_children">
                            <li class="sub_accordion_list">You can create a new account at the end of the order process
                                or on the following page: Create new account. You can view all of your orders and
                                subscriptions in your customer account. You can also change your addresses and your
                                password.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--End: Second Section-->


    <!--Start: Third Section-->
    <section class="Main-Section-3 section-p1">
        <div class="title">
            <h4>WATCH OUR STORY</h4>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                <br> Latin literature from 45 BC, making it over 2000 years old.
            </p>.
        </div>
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/DZhHSR4_9B4"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </section>
    <!--End: Third Section-->

    <!--Start: Banner-->
    <section id="banner" class="section-p1">
        <div class="circle">
            <i class="fa-solid fa-file-circle-check"></i>
            <h4>5428</h4>
            <h6>JOBS POSTED</h6>
        </div>
        <div class="circle">
            <i class="fa-solid fa-pencil"></i>
            <h4>120</h4>
            <h6>JOBS FILLED</h6>
        </div>
        <div class="circle">
            <i class="fa-solid fa-bag-shopping"></i>
            <h4>7485</h4>
            <h6>COMPANIES</h6>
        </div>
        <div class="circle">
            <i class="fa-solid fa-user-plus"></i>
            <h4>100</h4>
            <h6>MEMBERS</h6>
        </div>
    </section>
    <!--End: Banner-->


{% endblock content %}